@import "../../style/mixins.scss";

.snippit {
    @include card();
    margin: 1.5rem;

    .title,
    .description,
    .code {
        margin-bottom: 1rem;
    }

    .code {
        padding: 0.5rem;
        border-radius: 5px;
        font-family: monospace;
        font-size: 1.1rem;
        background: var(--dark-color);
    }

    .btn-delete,
    .btn-edit {
        @include btn();
        margin-right: 1rem;
    }

    .btn-edit {
        background: var(--primary-color);
        color: var(--light-color);
    }

    .btn-delete {
        background: var(--danger-color);
        color: var(--light-color);
    }
}