:root {
    --primary-color: #7591bf;
    --light-color: #ffffff;
    --dark-color: #d2d4d2;
    --light-color: #ffffff;
    --danger-color: #ca1616;

    --text-dark-color: #3a3a3a;

    --box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 6px 6px rgba(0, 0, 0, 0.26)
}